.background {
  background-color: rgb(43, 47, 50);
}
.pfp {
  border-radius: 360px;
  margin-left: 10px;
  margin-right: auto;
  width: 100px;
  transition: box-shadow 0.2s, opacity 0.2s;
}
.pfp:hover {
  box-shadow: 0px 0px 10px black;
}
.pfp:active {
  opacity: 70%;
}
.center {
  display: grid;
  place-content: center;
  font-family: "Jetbrains Mono";
  color: rgb(247, 247, 247);
  font-size: 15px;
}
.header {
  display: flex;
  background-color: rgb(72, 81, 85);
  padding-top: 5px;
  padding-bottom: 5px;
}
